astroid==2.3.3
autopep8==1.5
colorama==0.4.1
decorator==4.3.2
Django==2.2.7
django-filter==2.2.0
django-widget-tweaks==1.4.5
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
mysqlclient==1.4.6
numpy==1.22.0
pandas==0.25.3
pdfkit==0.6.1
Pillow==6.2.1
plotly==4.3.0
pycodestyle==2.5.0
pylint==2.4.4
pylint-django==2.0.13
pylint-plugin-utils==0.6
python-dateutil==2.8.1
pytz==2019.3
retrying==1.3.3
six==1.13.0
sqlparse==0.3.0
virtualenv==16.7.8
wkhtmltopdf==0.2
wrapt==1.11.2